

.heading {

  font-size: 40px;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;

}

.navbar {
  background-color: #333; /* dark background */
  padding: 10px 0;
  position: sticky;  /* keeps it in place */
  top: 0;            /* stick to very top */
  z-index: 1000;     /* ensures it’s above other elements */
}

.navbar ul {
  list-style: none; /* remove bullets */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* center links */
  gap: 30px; /* space between links */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00; /* gold hover */
}


.entreetextwrapper {
  display: flex;
  flex-direction: column;
}

.entreecontainer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 20px;
  margin: 20px 0;

}

.entreeimage img {
max-width: 500px;
height: auto;
display: block;

}


.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



.entreetext {
  flex-direction: column;
 margin-bottom: 40px;

}

.entreemenuitems {
display: flex;
flex-direction: column;
gap: 10px;

}

.menuitem {

  border-bottom: 1px dotted #aaa;
  padding-bottom: 5px;
}




/* for mobile viewing */
@media (max-width: 768px) {



.entreecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.entreeimage img {
max-width: 100%;
height: auto;


}

.entreetext {
  width: 100%;
  text-align: center;


}

.entreemenuitemns {
align-items: center;


}

.menuitem {

  width: 100%;
}

}